@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@media (max-width: 1200px) {
  .header__row {
    padding: 20px; }
  .first__row {
    padding: 0 20px;
    background: url("../img/first/engin-akyurt-jaZoffxg1yc-unsplash 2.jpg") center top no-repeat; }
  .first__title {
    padding: 174px 0px 0 0;
    text-align: center;
    max-width: inherit; }
  .first__text {
    text-align: center;
    margin: 0 auto 60px auto; }
  .first__btn {
    margin: 0 auto; }
  /*
   .new__row {
      justify-content: center;
      column-gap: 30px;
      padding: 0 20px;
   }*/
  .get__row {
    padding: 0 20px; }
  .blog {
    padding: 30px 0 0 0; }
  .blog__subtitle {
    margin: 0 0 46px 0; }
  /*.blog__row {
      padding: 0 20px;
      justify-content: center;
      column-gap: 30px;
      row-gap: 40px;
   }
   .blog__column {
      margin: 0;
   }*/
  .join {
    padding: 90px 20px 100px 20px; }
  .footer {
    padding: 30px 20px; } }

@media (max-width: 800px) {
  .header {
    height: inherit; }
  .header__row {
    height: inherit;
    padding: 20px 20px; }
  .first__row {
    background: url("../img/first/engin-akyurt-jaZoffxg1yc-unsplash 2.jpg");
    background-size: cover;
    background-position: center; }
  .first__title {
    font-size: 42px; }
  .first__text {
    font-size: 18px; }
  .new {
    padding: 30px 0 40px 0; }
  .new__subtitle {
    margin: 0 0 20px 0; }
  .new__btn {
    margin: 0px auto 0 auto; }
  .title {
    font-size: 32px;
    line-height: 32px; }
  .subtitle {
    font-size: 12px;
    line-height: 12px; }
  .get__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .get__text {
    text-align: center;
    font-size: 32px;
    margin: 0 0 20px 0; }
  /*
   .blog__row {
      row-gap: 46px;
   }
   .blog__column {
      flex: 0 0 100%;
   }*/
  .blog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .blog__item img {
      max-width: 170px;
      max-height: 170px; }
  .blog__body {
    margin: 0; }
  .blog__body__title {
    max-width: inherit; }
  .blog__body__text {
    line-height: 130%;
    max-width: inherit; }
  .join {
    padding: 50px 20px 60px 20px; }
  .join__text {
    font-size: 14px; }
  .join__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .join__form input {
    margin: 0 10px 10px 0; }
  /* Burger */
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5; }
  .header__burger::before,
  .header__burger::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: '';
    background-color: #000;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px; }
  .header__burger::before {
    top: 0; }
  .header__burger::after {
    bottom: 0; }
  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: #000; }
  .header-left {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 90%;
    flex: 1 1 90%; }
  .header-left__logo {
    margin: 0 auto; }
  .header-left__menu {
    z-index: 2;
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    background-color: #98C9DF;
    padding: 70px 10px 20px 10px;
    overflow: auto; }
  .header-left__menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-left__menu__list li {
      margin: 0 0 30px 0; }
  .header-left__menu__link {
    font-family: Playfair Display;
    font-size: 25px; }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header-left__menu-active {
    top: 0; }
  body.lock {
    overflow: hidden; } }

@media (max-width: 400px) {
  .first__title {
    padding: 130px 0px 0 0; }
  .blog__subtitle {
    margin: 0 0 30px 0; }
  .footer__menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__menu__list li {
    margin: 0 0px 15px 0; } }
